$milk: #dcd9cd;
$milk-light: lighten($milk, 10%);
$milk-dark: darken($milk, 10%);

.text-milk {
  color: $milk !important;
}

.text-milk-light {
  color: lighten($milk, 30%) !important;
}

.text-milk-dark {
  color: darken($milk, 30%) !important;
}

.bg-milk {
  background-color: $milk !important;
}

.bg-milk-light {
  background-color: $milk-light !important;
}

.bg-milk-dark {
  background-color: $milk-dark !important;
}
