// Font Family
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&display=swap&subset=latin-ext');

$font-family-base: "Lora", serif;

i {
  font-family: "Libre Baskerville", serif;
  font-size: .875em;
}

// Bootstrap
$enable-shadows: true;
@import "~bootstrap/scss/bootstrap";

// Custom
@import "./_color";
@import "./_font";

.card {
  box-shadow: $box-shadow-sm;
}

.scryfall-symbol {
  height: 1em;
}
