// Font Family
@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&display=swap&subset=latin-ext');

$font-family-base: "Lora", serif;

i {
  font-family: "Libre Baskerville", serif;
  font-size: .875em;
}

// Shadow
$enable-shadows: true;

// Color
$milk: #dcd9cd;
$milk-light: lighten($milk, 10%);
$milk-dark: darken($milk, 10%);

$theme-colors: (
  "milk": $milk,
  "milk-light": $milk-light,
  "milk-dark": $milk-dark,
);

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Card Shadow
.card {
  box-shadow: $box-shadow-sm;
}

// Font Size
html {
  font-size: 16px;
}

// Custom
.mtg-symbol {
  height: 1em;
}
