// @import "http://static.tappedout.net/s/webpack/tapped-429aba47daf42342a190-styles.css";

/* UI Widget */

.ui-widget-content .ui-state-active.mana-symbol-sprite, .mana-symbol-sprite {
  display: inline-block;
  background: url(http://static.tappedout.net/s/webpack/17d24e7c0db4aec8df534f74121090c7.png);
  background-repeat: no-repeat;
  background-color: transparent;
  color: transparent;
  width: 18px;
  height: 18px;
}

.ui-state-active.mana-symbol-hexa, .mana-symbol-hexa {
  width: 20px !important;
  height: 25px !important;
  vertical-align: top;
}

.ui-state-active.mana-symbol-loyal, .mana-symbol-loyal {
  width: 28px !important;
  height: 19px !important;
}

.mana-symbol {
  width: 18px;
  height: 18px;
}

.margin-mana {
  margin-right: 30px !important;
}

.ui-widget-content .ui-state-active.mana-12, .mana-12 { background-position: -0px -0px }
.ui-widget-content .ui-state-active.mana-11, .mana-11 { background-position: -18px -0px }
.ui-widget-content .ui-state-active.mana-10, .mana-10 { background-position: -36px -0px }
.ui-widget-content .ui-state-active.mana-9, .mana-9 { background-position: -54px -0px }
.ui-widget-content .ui-state-active.mana-8, .mana-8 { background-position: -72px -0px }
.ui-widget-content .ui-state-active.mana-7, .mana-7 { background-position: -90px -0px }
.ui-widget-content .ui-state-active.mana-6, .mana-6 { background-position: -108px -0px }
.ui-widget-content .ui-state-active.mana-5, .mana-5 { background-position: -126px -0px }
.ui-widget-content .ui-state-active.mana-4, .mana-4 { background-position: -144px -0px }
.ui-widget-content .ui-state-active.mana-3, .mana-3 { background-position: -162px -0px }
.ui-widget-content .ui-state-active.mana-2w, .mana-2w { background-position: -180px -0px }
.ui-widget-content .ui-state-active.mana-2u, .mana-2u { background-position: -198px -0px }
.ui-widget-content .ui-state-active.mana-2r, .mana-2r { background-position: -0px -18px }
.ui-widget-content .ui-state-active.mana-2g, .mana-2g { background-position: -18px -18px }
.ui-widget-content .ui-state-active.mana-2b, .mana-2b { background-position: -36px -18px }
.ui-widget-content .ui-state-active.mana-2, .mana-2 { background-position: -54px -18px }
.ui-widget-content .ui-state-active.mana-1, .mana-1 { background-position: -72px -18px }
.ui-widget-content .ui-state-active.mana-0, .mana-0 { background-position: -90px -18px }
.ui-widget-content .ui-state-active.mana-z, .mana-z { background-position: -108px -18px }
.ui-widget-content .ui-state-active.mana-y, .mana-y { background-position: -126px -18px }
.ui-widget-content .ui-state-active.mana-x, .mana-x { background-position: -144px -18px }
.ui-widget-content .ui-state-active.mana-wu, .mana-wu { background-position: -162px -18px }
.ui-widget-content .ui-state-active.mana-wb, .mana-wb { background-position: -180px -18px }
.ui-widget-content .ui-state-active.mana-w, .mana-w { background-position: -198px -18px }
.ui-widget-content .ui-state-active.mana-ut, .mana-ut { background-position: -0px -36px }
.ui-widget-content .ui-state-active.mana-ur, .mana-ur { background-position: -18px -36px }
.ui-widget-content .ui-state-active.mana-ub, .mana-ub { background-position: -36px -36px }
.ui-widget-content .ui-state-active.mana-u, .mana-u { background-position: -54px -36px }
.ui-widget-content .ui-state-active.mana-t, .mana-t { background-position: -72px -36px }
.ui-widget-content .ui-state-active.mana-snow, .mana-snow { background-position: -90px -36px }
.ui-widget-content .ui-state-active.mana-rw, .mana-rw { background-position: -108px -36px }
.ui-widget-content .ui-state-active.mana-rg, .mana-rg { background-position: -126px -36px }
.ui-widget-content .ui-state-active.mana-r, .mana-r { background-position: -144px -36px }
.ui-widget-content .ui-state-active.mana-pw, .mana-pw { background-position: -162px -36px }
.ui-widget-content .ui-state-active.mana-pu, .mana-pu { background-position: -180px -36px }
.ui-widget-content .ui-state-active.mana-pr, .mana-pr { background-position: -198px -36px }
.ui-widget-content .ui-state-active.mana-pg, .mana-pg { background-position: -0px -54px }
.ui-widget-content .ui-state-active.mana-pb, .mana-pb { background-position: -18px -54px }
.ui-widget-content .ui-state-active.mana-infinite, .mana-infinite { background-position: -36px -54px }
.ui-widget-content .ui-state-active.mana-gw, .mana-gw { background-position: -54px -54px }
.ui-widget-content .ui-state-active.mana-gu, .mana-gu { background-position: -72px -54px }
.ui-widget-content .ui-state-active.mana-g, .mana-g { background-position: -90px -54px }
.ui-widget-content .ui-state-active.mana-energy, .mana-energy { background-position: -108px -54px }
.ui-widget-content .ui-state-active.mana-c, .mana-c { background-position: -126px -54px }
.ui-widget-content .ui-state-active.mana-br, .mana-br { background-position: -144px -54px }
.ui-widget-content .ui-state-active.mana-bg, .mana-bg { background-position: -162px -54px }
.ui-widget-content .ui-state-active.mana-b, .mana-b { background-position: -180px -54px }
.ui-widget-content .ui-state-active.mana-20, .mana-20 { background-position: -198px -54px }
.ui-widget-content .ui-state-active.mana-19, .mana-19 { background-position: -0px -72px }
.ui-widget-content .ui-state-active.mana-18, .mana-18 { background-position: -18px -72px }
.ui-widget-content .ui-state-active.mana-17, .mana-17 { background-position: -36px -72px }
.ui-widget-content .ui-state-active.mana-16, .mana-16 { background-position: -54px -72px }
.ui-widget-content .ui-state-active.mana-15, .mana-15 { background-position: -72px -72px }
.ui-widget-content .ui-state-active.mana-14, .mana-14 { background-position: -90px -72px }
.ui-widget-content .ui-state-active.mana-13, .mana-13 { background-position: -108px -72px }
.ui-widget-content .ui-state-active.mana-saga-1, .mana-saga-1 { background-position: -0px -90px }
.ui-widget-content .ui-state-active.mana-saga-2, .mana-saga-2 { background-position: -20px -90px }
.ui-widget-content .ui-state-active.mana-saga-3, .mana-saga-3 { background-position: -40px -90px }
.ui-widget-content .ui-state-active.mana-loyalty-plus, .mana-loyalty-plus { background-position: -1px -115px }
.ui-widget-content .ui-state-active.mana-loyalty-zero, .mana-loyalty-zero { background-position: -30px -115px }
.ui-widget-content .ui-state-active.mana-loyalty-minus, .mana-loyalty-minus { background-position: -60px -115px }
.ui-widget-content .ui-state-active.mana-loyalty-initial, .mana-loyalty-initial { background-position: -90px -115px }

li.mana-menu {
  display: inline-block;
  padding: 0 1px !important;
}

span.mana-symbol-sprite {
  padding: 1px 1px !important;
}

ul.mana-symbol-menu {
  padding: 1px 5px;
  width: 134px;
  z-index: 9999;
}

.mana-symbol-loyalty {
  color: white;
}

.mana-symbol-loyalty-plus {
  @extend .mana-symbol-loyalty;
  background: -2px -7px url(http://static.tappedout.net/s/webpack/95f5cc14281d9ffc87f8fd826bb07d0b.png) no-repeat;
  width: 45px;
  height: 31px;
  padding: 7px;
  background-size: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.mana-symbol-loyalty-minus {
  @extend .mana-symbol-loyalty;
  background: -2px -1px url(http://static.tappedout.net/s/webpack/e3fe4ecca0895f751aeab98be9a99981.png) no-repeat;
  width: 45px;
  height: 35px;
  padding: 7px;
  background-size: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.mana-symbol-loyalty-initial {
  @extend .mana-symbol-loyalty;
  background: -3px -5px url(http://static.tappedout.net/s/webpack/61fb82861185e8feeeb37027d94161bc.png) no-repeat;
  width: 45px;
  height: 30px;
  padding: 7px;
  background-size: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

.mana-symbol-loyalty-zero {
  @extend .mana-symbol-loyalty;
  background: -2px -5px url(http://static.tappedout.net/s/webpack/84efd15f2f881d16f20d3ac618e8da2f.png) no-repeat;
  width: 45px;
  height: 30px;
  padding: 7px;
  background-size: 50px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
